body {
  color: #222;
}

* {
  box-sizing: border-box;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
Add transition to containers so they can push in and out.
 */
  #app-layout,
  #menu,
  .menu-link {
    color: #0af;
  }

  /*
  This is the parent `<div>` that contains the menu and the content area.
   */
  #app-layout {
    position: relative;
    padding-left: 0;
  }
  #app-layout.active {
    position: relative;
    left: 150px;
  }
  #app-layout.active #menu {
    left: 150px;
    width: 150px;
  }

  #app-layout.active .menu-link {
    left: 150px;
  }
  /*
  The content `<div>` is where all your content goes.
   */
  .content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  }

  .header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 0.3em 2em 0;
    border-bottom: 1px solid #eee;
  }
  .header h1 {
    margin: 0.1 0 0.2em 0;
    font-size: 3em;
    font-weight: 300;
    color: #0af;

  }
  .header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
  }

  .content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
  }

  /*
  The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
  appears on the left side of the page.
   */

  #menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #0af;
    border-right: 1px solid #0af;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  /*
  All anchors inside the menu should be styled like this.
   */
  #menu a {
    color: #fff;
    border: none;
    padding: 0.6em 0 0.4em 0.3em;
  }

  /*
  Remove all background/borders, since we are applying them to #menu.
   */
  #menu .pure-menu,
  #menu .pure-menu ul {
    border: none;
    background: transparent;
  }

  /*
  Add that light border to separate items into groups.
   */
  #menu .pure-menu ul,
  #menu .pure-menu .menu-item-divided {
  }
  /*
  Change color of the anchor links on hover/focus.
   */
  #menu .pure-menu li a:hover,
  .pure-menu li a:hover
  {
    background: #fff;
    color: #0af;
  }

  /*
  This styles the selected menu item `<li>`.
   */
  #menu .pure-menu-selected,
  #menu .pure-menu-heading {
    background: #fff;
    color: #0af;
  }
  /*
  This styles a link within a selected menu item `<li>`.
   */
  #menu .pure-menu-selected a {
    color: #0af;
  }

  /*
  This styles the menu heading.
   */
  #menu .pure-menu-heading {
    font-size: 110%;
    color: #0af;
    margin: 0;
  }

  /* -- Dynamic Button For Responsive Menu -------------------------------------*/

  /*
  The button to open/close the Menu is custom-made and not part of Pure. Here's
  how it works:
   */

  /*
  `.menu-link` represents the responsive menu toggle that shows/hides on
  small screens.
   */
  .menu-link {
    box-sizing: initial;
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: none;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
  }

  .menu-link span {
    position: relative;
    display: block;
  }

  .menu-link span,
  .menu-link span:before,
  .menu-link span:after {
    background-color: #0af;
    width: 100%;
    height: 0.2em;
    background: #0af;
  }

  .menu-link span:before,
  .menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
  }

  .menu-link span:after {
    margin-top: 0.6em;
  }


  /* -- Responsive Styles (Media Queries) ------------------------------------- */

  /*
  Hides the menu at `48em`, but modify this based on your app's needs.
   */
  @media (min-width: 48em) {

    .header,
    .content {
      padding-left: 2em;
      padding-right: 2em;
    }

    #app-layout {
      padding-left: 150px; /* left col width "#menu" */
      left: 0;
    }
    #menu {
      left: 150px;
    }

    .menu-link {
      position: fixed;
      left: 150px;
      display: none;
    }

    #app-layout.active .menu-link {
      left: 150px;
    }
  }

  h2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .buttons {
    line-height: 2em;
    text-align: center;
    font-size: 1.5em;
    border-top: 1px solid #0af;
  }

  .buttons div {
    border-bottom: 1px solid #0af;
  }

  .buttons .back {
    border-right: 1px solid #0af;
  }

  .buttons .forward {
    border-left: 1px solid #0af;
  }

  .expense-list {
    border-top: 1px solid #0af;
    padding: 0;
    margin: 0;
  }

  .expense-list, .expense-list li {
    padding: 0;
  }

  .expense-list li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.8em;
    border-bottom: 1px solid #0af;
    color: #444;
  }
  .expense-list .date, .expense-list .time {
    margin-right: 18px;
    display: inline-block;
  }

  .expense-list .date {
    -webkit-font-smoothing: antialiased;
    color: #888;
  }
  .expense-list h3 {
    text-align: right;
    display: inline-block;
    padding: 0;
    margin: 0;
    float: right;
  }
  .expense-list .note {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 5px;
    -webkit-font-smoothing: antialiased;
    color: #444;
  }

  .expense-list .time {
    color: #444;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
  }

  .category-button {
    display: inline-block;
    position: absolute;
    background: #0af;
    color: white;
    padding: 4px 8px;
    line-height: 1em;
    margin-top: 3px;
    font-size: 0.8em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    border-radius: 3px;
    margin-bottom: 4px;
  }

  #app-layout .pure-form input {
    border-radius: 0;
  }

  #app-layout .pure-form .pure-button-primary{
    background: #0af;
    border: 1px solid #0af;
  }
  #app-layout h3, #app-layout h4 {
    margin: 0px;
    padding: 0px;
  }
  #app-layout h3 {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  #app-layout h4 {
    padding-left: 10px;
    padding-bottom: 5px;
  }

  #app-layout .category-box {
    text-align: center;
    height: 3em;
    line-height: 3em;
    border: 1px solid #0af;
  }
  #app-layout .pure-form input[type=text] {

  }
